/* Your code here */
.ttt-grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .ttt-grid li {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: gray;
  }
  
  .ttt-grid li:hover {
    background-color: yellow;
  } 

  
  